# ─── Shopify SERVER (Node / SSR) ──────────────────────────
SHOPIFY_APP_URL=https://app.tovfurniture.com/app/fabric-scanner-system
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SCOPES=write_products, read_products, read_orders, read_merchant_managed_fulfillment_orders, write_merchant_managed_fulfillment_orders, read_inventory, write_inventory, read_locations
NODE_ENV=production
PORT=3040

DEFAULT_STORE_ID=1
VITE_REACT_API_BASE_URL=https://app.tovfurniture.com
VITE_VALIDATED_SHOP=tov-furnitures.myshopify.com
VITE_APP_NAME=fabric-scanner-system
VITE_BASE_PATH=/app/fabric-scanner-system/
